:root {
/*     --primario: #CF405D;
    --primarioOscuro: #CE3F5C;
    --secundario: #9268BB;
    --secundarioOscuro: #9167BA;
    --terciario: #A9B4EB;
    --terciarioOscuro: #A8B3EA;
    --cuaternario: #16406B;
    --cuaternarioOscuro: #153F6A; */

    --blanco: #FFF;
    --oscuro: #000;
    --gris: #4C4A48;

    --primario: #F1F6F9;
    --primarioOscuro: #9BA4B5;
    --secundario: #394867;
    --secundarioOscuro: #212A3E;

    --fuentePrincipal: 'Krub', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--oscuro);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: var(--blanco);
    /* border: .5rem solid var(--primarioOscuro); */
    padding: 1rem 1rem;
    text-align: center;
}
.nosotros__informacion {
    text-align: justify;
}
.nosotros__imagenSecundaria {
    width: 40rem;
}
.nosotros__autodescripcion {
    text-align: center;
}

/** Header **/
.header {
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__logo {
    margin-bottom: 1rem;
    width: 20rem;
}
@media (min-width: 768px) {
    .header__logo {
        margin: 0;
    }
}

/** Navegacion **/
.navegacion {
    align-items: center;
    position: relative;
}
@media (min-width: 768px) {
    .navegacion {
        width: auto;
    }
}

.cerrar-menu {
    display: none;
}
#navegacion:target .cerrar-menu {
    display: block;
}
.abrir-menu {
    display: block;
}
#navegacion:target .abrir-menu {
    display: none;
    justify-content: right;
}
.navegacion__menu {
    display: block;
    position: absolute;
    right: 0;
    width: 20rem; 
    text-align: right;
    clear: both;
    max-height: 0;
    overflow: hidden;
    transition: 0.8s;
}
#navegacion:target .navegacion__menu{
    max-height: 30rem;
    background: var(--gris) none repeat scroll 0 0;
    transition: 0.8s;
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;  
    padding: 2rem;
    display: block;
    justify-content: space-between;
    gap: 2rem;
}
.navegacion__enlace:hover {
    background-color: var(--primarioOscuro);
}
@media (min-width: 768px) {
    .control-menu {
        display: none;
    }
    .navegacion__menu {
        display: flex;
        background-color: var(--secundario);
        position: initial;
        width: auto;
        max-height: 30rem;
        transition: 2s;
    }
    .navegacion__icono {
        display: none;
    }
    .navegacion__enlace {
        display: flex;
        color: var(--blanco);
    }
}
.navegacion__enlace--activo {
    text-decoration: underline;
}

/** Footer **/
.footer {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--primarioOscuro);
/*     background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../img/nosotros1.png");     */
}
.footer p {
    font-size: 1.4rem;
    color: var(--blanco);
    display: flex;
    justify-content: center;
}
.footer__informacion {
    display: block;
    align-items: center;
    text-align: center;
}
@media (min-width: 768px) {
    .footer__informacion {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
.footer__contacto svg{
    margin-right: 1rem;
}
.footer_empresa {
    text-align: left;
}
.footer__copyright {
    text-align: center;
}

/** Productos **/
.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
@media (min-width: 768px) {
    .productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
.producto {
    text-align: center;
}
.producto:hover {
    cursor: pointer;
}
.producto:hover img {
    opacity: 0.8;
}
.producto:hover h3 {
    text-decoration: underline;
}
.producto__precio {
    font-weight: bold;
}

/** Bienvenida **/
.bienvenida__informacion {
    text-align: center;
}

/** Categorias **/
.categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
@media (min-width: 768px) {
    .categorias {
        grid-template-columns: repeat(4, 1fr);
    }
}
.categoria {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.categoria__imagen:hover {
    filter: brightness(75%);
}
.categoria__nombre {
    position: absolute;
    font-size: 3rem;
    color: var(--blanco);
}


